* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;  
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    display: block;
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
    width: 24px;
    height: 24px;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
/* HEADER */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.logo-text {
    color: #2E2F42;
}
.header-menu{
    display: flex;
    gap: 40px;
}
.header-navigation {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-navigation:hover,
.header-navigation:focus {
    color: #404bbf;
  }
  .header-navigation.current {
    color: #404bbf;
}
.header-navigation.current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scaleX(0);

}
.header-navigation.current:hover::after,
.header-navigation.current:focus::after {
    transform: scaleX(1);
}
.header-contacts{
    font-style: normal;
}
.header-contacts-list{
    display: flex;
    gap: 40px;

}
.mail-tel {
    font-size: 16px;
    letter-spacing:0.02em;
    color: #434455;
    line-height: 1.5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-tel:hover,
.mail-tel:focus {
    color: #404bbf;
}

/* HERO */
.hero {
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background-image.jpg);
    height: 600px; 
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
}
.hero-title {
    max-width: 496px;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    margin: 0 auto;

    padding-bottom: 48px;
    
}
.button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    background: #4D5AE5;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Advantages Section */
.advantages-section {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.advantages-list {
    display: flex;
    gap: 24px;    
}
.advantages-list-item{
    width: calc((100% - 72px) / 4);
  
}

.svg-advantages{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd; 
    border-radius: 4px; 
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.adv-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
    margin-bottom: 8px;
}
.adv-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;

}

/* Our Team Section */
.team-section{
    padding: 120px 0;
    background-color: #F4F4FD;
}
.team-section-title {
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
   padding-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-text-container{
    padding: 32px 0;
}
.team-name {
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.team-text {
    text-align: center;
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 8px;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;   
}
.team-social-item{
    width: 40px;
    height: 40px; 
}
.team-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
    background-color:  #404bbf;
}

/* Portfolio Section */
.portfolio {
    background: #FFF;
    padding-top: 120px; 
    padding-bottom: 120px;
}
.portfolio-block{
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-block:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-container {
    position: relative;
    overflow: hidden;
}
.portfolio-title {
    margin-bottom: 72px; 
    color: #2E2F42;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.11;
    text-align: center;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-block {
    width: calc((100% - 48px) / 3);
    background: #FFF;
    border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.portfolio-text-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-name {
    margin-bottom: 8px;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.2;
}
.portfolio-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
    padding-bottom: 32px;
}
.portfolio-text-img{
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color, #f4f4fd); 
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-block:hover .portfolio-text-img {
    transform: translateY(0%);
}
/* Footer Section */
.footer {
    padding: 100px 0;
    background: #2E2F42;
    display: flex;
    flex-direction: column;
}

.footer-container {
    margin-right: 120px;
    padding-left: 156px;
}

.footer-logo {
    display: inline-block;
    padding-bottom: 16px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    line-height: 1.17;
}

.footer-logo-text {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.smt {
    font-weight: 500;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.tsl{
    display: flex;
    gap: 16px;
}

.tsi{
    width: 40px;
    height: 40px;
}

.tslink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tslink:hover,
.tslink:focus {
    background-color: #31d0aa;
}

.icon {
    fill: #f4f4fd;
}
.footer-div{
    display: flex;
    align-items: baseline;
}
.footer-rights{
    padding-left: 80px;
}
.footer-rights-form{
    display: flex;
    gap: 24px;
}
.footer-rights-txt{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;    
    letter-spacing: 0.02em;        
}

.footer-rights-btn{
    display: flex;   
    align-items: center;
    justify-content: center; 
    gap: 16px;
    color: #fff;
    background-color: #4D5AE5;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.icon-right-frame{
    fill: #fff;
    margin-left: 16px;
}
.footer-input{
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    pleaceholder{
        color: #ffffff;
    }
}

.backdrop{
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-bottom: 16px;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    background-color: #e7e9fc;
    fill: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }
  .icon-close-btn {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover .icon-close-btn,
  .modal-close-btn:focus .icon-close-btn {
    fill: #ffffff; 
  }
  
.modal-text{
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.modal-field-four{
    margin-bottom: 16px;
}
.modal-input{
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon{
    fill: #4D5AE5;
}
.modal-label{
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    font-weight: 400;
    letter-spacing: 0.04em;
}
.modal-input-wrap{
    position: relative;
}
.modal-icon{
    fill: #2E2F42;
    position: absolute;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-footer-btn{
    display: block;
    margin: 0 auto;
    color: #ffffff;
    background: #4D5AE5;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
        height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.modal-texterea{
    border-radius: 4px;
    width: 360px;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-texterea:focus{
    border-color: #4D5AE5;
}   
.modal-check-text{
    letter-spacing: 0.48px;
    font-size: 12px;
    color: #8E8F99;

    padding-bottom: 24px;
    line-height: 1.17;

}
.modal-checkbox{

    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-right: 8px;
    display: inline-flex;
    justify-content:center ;
    align-items: center;
    fill: transparent;

    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text span{
    background: #404BBF;
    border:none;
    fill: #F4F4FD;
}
.privacy-policy{
    color: #4D5AE5;
    text-decoration-skip-ink: none;
    text-decoration-line: underline;
}
.modal-field-five{
    margin-bottom: 24px;
}
.modal-field-one{
    margin-bottom: 8px;
}